/* Checkbox */
.checkboxWrapper {
  padding-top: 0.25rem;
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  color: #2563eb;
  border-radius: 0.25rem;
  border-color: #d1d5db;
  cursor: pointer;
}

.checkbox:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3b82f6;
}

:global(.dark) .checkbox {
  border-color: #4b5563;
}

:global(.dark) .checkbox:focus {
  box-shadow: 0 0 0 2px #111827, 0 0 0 4px #3b82f6;
}
