/* Title */
.title {
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
}

:global(.dark) .title {
  color: #f3f4f6;
}

.titleCompleted {
  text-decoration: line-through;
  color: #6b7280;
}

:global(.dark) .titleCompleted {
  color: #9ca3af;
}
