/* MemberAvatar */
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  flex-shrink: 0;
}
