/* Main sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  transform: translateX(-100%);
}

:global(.dark) .sidebar {
  background-color: #111827;
  border-right-color: #374151;
}

@media (min-width: 1024px) {
  .sidebar {
    position: static;
    transform: translateX(0);
  }
}

.sidebarOpen {
  transform: translateX(0);
}

.sidebarCollapsed {
  width: 5rem;
}

.sidebarExpanded {
  width: 16rem;
}
