/* Input Icon */

.icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  pointer-events: none;
}

:global(.dark) .icon {
  color: #6b7280;
}

.iconSvg {
  width: 1.25rem;
  height: 1.25rem;
}
