/* ActivityIcon */
.iconContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
