/* Modal Content */
.content {
  padding: 0.75rem 1rem;
  overflow-y: auto;
  max-height: calc(95vh - 100px);
}

@media (min-width: 640px) {
  .content {
    padding: 1rem 1.5rem;
    max-height: calc(90vh - 120px);
  }
}
